:host ::ng-deep .custom-input .p-inputtext {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
    border-width: 1px;
    padding: 0.25rem 0.5rem; 
}

.form-group {
    margin-bottom: 1rem;
  
    .input-error {
      border-color: red;
      // other styles for error state
    }
  
    .p-error {
      color: red;
      font-size: 0.875rem;
      margin-top: 0.25rem;
      // other styles for error message
    }
  }