<div class="fixed inset-0 bg-gray-600 bg-opacity-50 backdrop-blur-sm flex justify-center items-center z-50">
  <p-dialog header="New Reservation" [style]="{ width: '50%' }">
    <div class="p-fluid">
      <div class="p-field">
        <label for="title">Title</label>
        <input id="title" type="text" pInputText [(ngModel)]="reservationTitle" class="p-inputtext p-component">
      </div>

      <div class="p-field">
        <label for="start">Start</label>
        <p-calendar id="start" [(ngModel)]="reservationStart" [showTime]="true"></p-calendar>
      </div>

      <div class="p-field">
        <label for="end">End</label>
        <p-calendar id="end" [(ngModel)]="reservationEnd" [showTime]="true"></p-calendar>
      </div>

      <div class="flex justify-end space-x-2 mt-4">
        <button pButton label="Save" class="p-button p-component p-button-success" (click)="save()"></button>
      </div>
    </div>
  </p-dialog>
</div>
